<div class="single-form-container clearfix">
  <%= form_tag password_resets_path, :method => :post do %>
    <dt><%= label_tag :email, "输入邮箱" %></dt>
    <dd><%= text_field_tag :email, params[:email] %></dd>
    <p><%= submit_tag "发送重置密码邮件", :class => "reset-password-btn btn btn-primary" %></p>
  <% end %>
</div>
