<div class="form-section">
  <%= form_tag password_resets_path, :method => :post do %>
  <div class="form-body">
    <div class="form">
      <%= label_tag :email, "密码" %>
      <%= text_field_tag :email, params[:email] %>
    </div>
  </div>
  <div class="form-footer">
    <%= submit_tag "重置密码", :class => "submit-btn button" %>
  </div>
  <% end %>
</div>
