body {
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  line-height: 1.8;
  margin: 0;
}

a {
  color: #00bcd4;
  text-decoration: none;
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

a.item {
    width: 100%;
    display: table;
    text-decoration: none;
    color: #777777;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    margin-top: 1em;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.item .left {
  display: table-cell;
  vertical-align: middle;
  width: 12%;
  background-color: #00bcd4;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
}
.item .right {
  display: table-cell;
  display: table-cell;
  padding: 15px;
}
.item .date {
  font-size: .8em;
  opacity: .8;
  padding-top: 15px;
}

.slogan, nav, footer {
  position: absolute;
  left: 0;
  right: 0;
}

.slogan {
  margin-top: 80px;
}


footer {
  display: block;
  background-color: #212121;
  height: 100px;
}

@media (min-width: 970px){
  .video-wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}

.video-wrapper {
  display: block;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 350px;
  video {
    width: 100%;
  }
}

nav, .nav {
  background-color: #00bcd4;
  height: 80px;
  line-height: 80px;
  a {
    margin-left: 30px;
    padding: 10px;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}

.search, .slogan {
  background-color: #00bcd4;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 55px;
  margin-bottom: 30px;
}

.slogan .title {
  font-size: 2em;
  color: #fff;
  margin-bottom: 15px;
  line-height: 1.1;
}

.slogan .date {
  color: #fff;
}

@media (min-width: 970px){
  .post-content  {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
.post-content  {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.post-content h3 {
  font-size: 1.2em;
  font-weight: bold;
}

.search input {
  height: 33px;
  width: 50%;
  max-width: 360px;
  font-size: 16px;
  border: 2px solid #00bcd4;
  padding-left: 10px;
  padding-right: 10px;
  &:focus {
    outline: none
  }
}

.search button {
  height: 35px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  background-color: #ff4081;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px
}
