/* common.css */

body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  line-height: 1.8;
  color: #808080;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.container {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  background-color: #00BCD4;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  padding: 2rem 0;
  margin-bottom: 2rem;
}
video {
  display: block;
  max-width: 960px;
  margin: 0 auto;
}

h1.title {
  margin-top: 3rem ;
  text-align: center;
  color: #52b3a8;
  font-size: 23px;
}



footer {
  text-align: center;
  background-color: #00bcd4;
  margin-top: 3rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  color: white;
}

footer img {
  width: 9rem;
}
