<div class="modal" id="markdown_cheatsheet">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Markdown Cheat Sheet</h3>
  </div>
  <div class="modal-body">
              <table>
                <tr>
                  <th>You write:</th>
                  <th>You get:</th>
                </tr>
                <tr>
                  <td><pre>[Link](http://example.com/)</pre></td>
                  <td><a href="http://example.com/">Link</a></td>
                </tr>
                <tr>
                  <td><pre>*Italic*</pre></td>
                  <td><em>Italic</em></td>
                </tr>
                <tr>
                  <td><pre>**Bold**</pre></td>
                  <td><strong>Bold</strong></td>
                </tr>
                <tr>
                  <td><pre>
* Listed
* Items           </pre></td>
                  <td><ul><li>Listed</li><li>Items</li></ul></td>
                </tr>
                <tr>
                  <td><pre>
```
puts "hello"
```               </pre></td>
                  <td> 
                    <div class="highlight">
                      <pre><span class="nb">puts</span> <span class="s2">&quot;hello&quot;</span> </pre>
                    </div>
                  </td>
                </tr>
              </table>
  </div>
</div>

