<div class="container">
  <% for comment in @comments %>
    <div class="comment-wraper">
      <%= render comment %>
      <div class="comment-ep-number">
        <%= link_to comment.episode_id, episode_path(comment.episode_id) %>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @comments, previous_label: h("< Previous Page"), next_label: h("Next Page >") %>
