<div class="heading">
  <div class="container">
    视频评论
  </div>
</div>
<div class="container">
  <% for comment in @comments %>
    <div class="comment-wraper">
      <%= render comment %>
      <div class="comment-ep-number">
        <% if  comment.commentable.class.name == "Episode" %>
          视频
        <% else %>
          讨论
        <% end %>
        <%= link_to comment.commentable_id, comment.commentable %>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @comments, previous_label: h("< Previous Page"), next_label: h("Next Page >") %>
