<% if @comment.errors.present? %>
  $("#<%= dom_id(@comment) %>").find("form").prepend("<div id=\"error\">Error!</div>");
<% else %>
  $("#<%= dom_id(@comment) %>").replaceWith("<%= escape_javascript render :partial => "comments/editable_comment", :object => @comment %> ");
<% end %> 
