
@mixin chinese-style {
  font-family: 'Microsoft YaHei', 微软雅黑, 'SimSun', Arial, Lucida Grande, Tahoma, sans-serif;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  color: $font-gray;
  letter-spacing: 2px;
}
@mixin github-fileheader {
  background-color: #E1E1E1;
  background-image: -moz-linear-gradient(#f8f8f8, #e1e1e1);
  background-image: -webkit-linear-gradient(#F8F8F8, #E1E1E1);
  background-image: linear-gradient(#F8F8F8, #E1E1E1);
  background-repeat: repeat-x;
}
@mixin github-hero {
  background:#839ba9;
  background:-moz-linear-gradient(#839ba9,#405a6a);
  background:-webkit-linear-gradient(#839ba9,#405a6a);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#839ba9',endColorstr='#405a6a')";
}
@mixin peter-shadow {
  -webkit-box-shadow: 0 0 6px $github-gray;
  -moz-box-shadow: 0 0 6px $github-gray;
  box-shadow: 0 0 6px $github-gray;
}
@mixin no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin textarea-style {
  display: inline-block;
  padding: 5px;
  border: 1px solid darken($github-gray, 20%);
  font-size: 120%;
  @include rounded-corners(3px);
  @include no-shadow;
  &:focus {
    border: 1px solid darken($github-gray, 50%) ;
    @include peter-shadow;
  }
}

@mixin form-base {
  .input {
    display: table;
    margin-bottom: 18px;
    line-height: 18px;
  }
  label {
    float: left;
    width: 140px;
    padding-top: 5px;
    text-align: right;
    font-weight: bold;
    color: #333;
  }
  input {
    display: inline-block;
    width: 210px;
    padding: 4px;
    margin: {
      bottom: 9px;
      left: $episode-new-margin-left;
    }
    font-size: 13px;
    color: #555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  input.btn {
    float: right;
    width: 130px;
    height: 30px;
    margin: {
      bottom: 25px;
      right: 38px;
    }
    color: white;
    font-size: 16px;
  }
}

@mixin form-head {
  .third-party-login {
    padding: 0;
    text-align: center;
    list-style-type: none;
    margin-top: 40px;
    li {
      display: inline-block;
      margin: 0 15px;
      a {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: block;
        width: 26px;
        line-height: 0;
      }
    }
  }
  .division {
    position: relative;
    margin: 0 20px;
    height: 30px;
    border-bottom: 1px solid #dfdfdf;
    text-align: center;
  }
  .huo {
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: #ffffff;
    bottom: -15px;
    left: 50%;
    margin-left: -30px;
    font-size: 14px;
  }
}

@mixin form-shadow {
  -webkit-box-shadow: 0 0 7px 0 #d6d6d6;
  -moz-box-shadow: 0 0 7px 0 #d6d6d6;
  box-shadow: 0 0 7px 0 #d6d6d6;
}

@mixin form-area {
  width: 400px;
  margin: 50px auto;
  line-height: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 7px 0 #d6d6d6;
}

@mixin signup-login-form-style {
  .form {
    margin-top: 20px;
    margin-bottom: 20px;
    label {
      width: 60px;
      display: inline-block;
      text-align: right;
    }
    input {
      margin-left: 10px;
      width: 230px;
      color: #555;
      font-size: 14px;
      padding: 6px 12px;
      line-height: 1.5;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      &:focus {
        border-color: #66afe9;
        outline: 0;
      }
    }
  }
}
