@import 'components/home';
@import 'components/about';
@import 'components/video';
@import 'components/post';
@import 'components/comment';
@import 'shared/common';

#app-container {
  display: flex;
  flex-direction: column;
}

.page-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  .cartoon {
    margin: 6em 1em 3em;
    .tip {
      color: #ff4081;
      font-size: 25px;
      text-align: center;
      margin-top: 32px;
    }
    img {
      display: block;
      max-width: 100%;
    }
  }
}
