@import "globals/variables";
@import "globals/mixins";

.box {
  border: 1px solid darken($github-gray, 50%);
  background-color: #fff;
  padding:10px;
  margin: 0 0 20px 0; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 0px 2px rgba(0,0,0,.1);
  box-shadow: 0 0px 2px rgba(0,0,0,.05);
}

body>.heading {
  min-height: 100px;
  background: lighten(teal, 8%);
  color: white;
  font-size: 50px;
}

/*** SHARED ***/
html, body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  line-height: 1.75;
  margin: 0;
  border: 0;
  min-width: 900px;
  height: 100%;
}


.container {
  width: 990px; // 330x3
  margin: 0 auto;
}

a {
  color: teal;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

img {
  border: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
  margin-top: 3px;
  margin-bottom: 4px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

ul {
  margin: 0;
  padding: 0;
}

#wrapper {
  min-height:100%;
  height:auto!important;
  height:100%;
  margin-bottom:-160px;
}

#container {
  width:$main_width;
  text-align:left;
  margin:0 auto;
}
/* remove the "underline" from abbr and acronym elements in FF*/
abbr[title], acronym[title] {
  border-bottom-width: 0;
}

/* footer */
#footer-push {
  height:160px;
  clear:both;
}
.footer {
  border-top: solid 1px #abc;
  font-size:80%;
  min-height:160px;
  overflow:hidden;
  border-top:1px solid #E0E0E0;
  border-bottom:1px solid #E0E0E0;
  box-shadow:inset 0 -1px 0 white;
  background-color:#f8f8f8;
  ul.footer_nav{
    position:relative;
    float:left;
    width:164px;
    margin:20px 10px;
    list-style:none;
    h4{
      margin-bottom:5px;
      padding-bottom:5px;
      border-bottom:thin solid #e1e1e1;
    }
  }
}

/*** PAGINATION ***/
.pagination {
  margin: 8px 0;
  font-size: 12px;
  .disabled { color: #999; }
  em {
    font-style: normal;
    padding: 4px;
  }
  a, .previous_page, .next_page { padding: 4px; }
}

#markdown_cheatsheet {
  display: none;
}
/* markdown example */
table {
  margin-left:20px;
  tr {
    border-bottom: 1px solid darken($github-gray, 10%);
    td {
      padding-top: 10px;
      padding-left: 20px;
    }
    th { padding-left: 20px; }
  }
}

.notice {
  margin-top: -20px;
  color: #3A87AD;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  padding: 10px;
  .close {
    float: right;
    cursor: pointer;
  }
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
