@import "variables";

body>.heading {
  padding: 40px 0;
  background: lighten(teal, 8%);
  color: white;
  font-size: 20px;
}
body>.body {
  padding-top: 20px;
}


/*** SHARED ***/
html, body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  line-height: 1.9;
  margin: 0;
  border: 0;
  height: 100%;
  min-width: 990px;
}

.container {
  width: 990px; // 330x3
  margin: 0 auto;
  overflow: hidden;
}

a {
  color: teal;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

img {
  border: none;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


::selection {
  background: $yellow;
  color: #fff;
}

/*** PAGINATION ***/
.pagination {
  margin: 8px 0;
  font-size: 12px;
  text-align: center;
  .disabled { color: #999; }
  em {
    font-style: normal;
    padding: 4px;
  }
  a, .previous_page, .next_page { padding: 4px; }
}


.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
