@import "globals/variables";
@import "globals/mixins";

body>.heading {
  min-height: 100px;
  background: lighten(teal, 8%);
  color: white;
  font-size: 50px;
}



/*** SHARED ***/
html, body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 1.75;
  margin: 0;
  border: 0;
  height: 100%;
}

.container {
  width: 990px; // 330x3
  margin: 0 auto;
}

a {
  color: teal;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

img {
  border: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


::selection {
  background: #c0865e;
  color: #fff;
}

/*** PAGINATION ***/
.pagination {
  margin: 8px 0;
  font-size: 12px;
  .disabled { color: #999; }
  em {
    font-style: normal;
    padding: 4px;
  }
  a, .previous_page, .next_page { padding: 4px; }
}

#markdown_cheatsheet {
  display: none;
}
/* markdown example */
table {
  margin-left:20px;
  tr {
    border-bottom: 1px solid darken($github-gray, 10%);
    td {
      padding-top: 10px;
      padding-left: 20px;
    }
    th { padding-left: 20px; }
  }
}

.notice {
  margin-top: -20px;
  color: #3A87AD;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  padding: 10px;
  .close {
    float: right;
    cursor: pointer;
  }
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
