<h1 class="donate-headline">
  乡亲们多多支持
</h1>
<div class="donate-option clearfix">
  <%= image_tag "bitcoin.jpg" %>
  <div class="option-content">
    <a href="http://blockchain.info/address/12zKbscEVTYdmE3EN2L6PmjEU45B4vcfnf">
      12zKbscEVTYdmE3EN2L6PmjEU45B4vcfnf
    </a>
  </div>
</div>
<div class="donate-option clearfix">
  <%= image_tag "alipay.jpg" %>
  <div class="option-content">
    <a href="https://me.alipay.com/happypeter">
      https://me.alipay.com/happypeter
    </a>
  </div>
</div>