<h1>Sign Up</h1>  
  
<%= form_for @user do |f| %>  
  <p>  
    <%= f.label :name %><br />  
    <%= f.text_field :name %>  
  </p>  
  <p class="button"><%= f.submit("create account") %></p>  
<% end %>  
