<div id="new_mail">
  <%= form_tag("/send_mail", :method => "post") do %>
    <%= label_tag(:mailbody, "Hi dude,") %>
    <%= text_area_tag(:mailbody) %>
    <div id="send_mail_btn">
      <%= submit_tag("Mail To Everybody", :class => "btn btn-large btn-success") %>
    </div>
  <% end %>
</div>
