<div class="footer">
  <div class="container">
    <ul class="footer_nav">
      <h4>Happycasts</h4>
      <li><a href="/users">Users(<%= User.count %>)</a></li>
      <li><a href="http://www.github.com/happypeter/happycasts">Code on Github</a></li>
      <li><a href="http://ruby-china.org/">Ruby-China</a></li>
      <li><a href="http://billie66.github.io/TLCL/">The Linux Commandline(zh)</a></li>
      <li><a href="/donate">捐助</a></li>
      <li><a href="http://haoqicat.com/happypeter">haoqicat.com/happypeter</a></li>
    </ul>
  </div>
</div>
