<div class="footer">
  <div class="container">
    <ul class="social">
      <li>
        <a href="http://weibo.com/happycasts">
          <i class="fa fa-lg fa-weibo"></i>
        </a>
      </li>
      <li class="qrcode-wrap weixin">
        <a href="javascript:;"><i class="fa fa-lg fa-weixin"></i></a>
      </li>
    </ul>
    <ul class="footer_nav">
      <h4>Happycasts</h4>
      <li>
        <%= link_to episodes_url(:format => "rss") do %>
          <i class="fa fa-rss"></i> 订阅
        <% end %>
      </li>
      <li><a href="/stats">统计数据</a></li>
      <li><a href="http://www.github.com/happypeter/haoduoshipin">Github</a></li>
      <li><a href="/donate">捐助</a></li>
      <li><a href="http://haoqicat.com/happypeter">haoqicat.com/happypeter</a></li>
      <li><a href="http://www.codefordream.com/">CodeForDream</a></li>
      <li><a href="http://happypeter.github.io">happypeter 的博客</a></li>
    </ul>
  </div>
  <div class="beian">
    冀ICP备15007992号
  </div>
</div>
