 <div class="mini-player">
   <video class="video-js vjs-default-skin" controls preload="none" width="480" height="300" data-setup='{}' poster="http://media.happycasts.net/pic/happycasts/happycasts_poster.jpg" >
     <source src="http://happycasts.qiniudn.com/106-coder-howto.mp4" type='video/mp4'>
   </video>
</div>
