 <div class="mini-player">
   <video class="video-js vjs-default-skin" controls preload="none" width="320" height="200" data-setup='{}' poster="http://media.happycasts.net/pic/happycasts/happycasts_poster.jpg" >
     <source src="http://media.happycasts.net/bitcoin-video/014-hash/v1.mov" type='video/mp4'>
   </video>
</div>
