<script src="http://vjs.zencdn.net/c/video.js"></script>
<div id="html5-player">
  <video id="videojs" class="video-js vjs-default-skin" controls width="920" height="690" autoplay poster="" preload="auto" data-setup="{}">
  <source src="<%= video_url episode %>" type="video/mp4"/ >
  </video>
</div>
