<div class="episode">
  <div class="screenshot"><%= link_to image_tag("http://media.happypeter.org/happycasts/episodes/stills/#{episode.position}-#{episode.name}.png", :class => "screenshot", :size => "200x125", :alt => episode.name), episode %></div>
  <div class="main">
    <h2><%= link_to episode.name, episode %></h2>
    <% if can? :update, episode %>
      <%= link_to "edit", edit_episode_path(episode) %>
    <% end %>
    <div class="watch">
    </div>
  </div>
  <div class="clear"></div>
</div>
