<div class="extra_nav">
    <span class="browse_code">
      <%= image_tag "icons/browse_code.png", :size => "22x21", :class => "icon" %>
      <%= link_to "Browse Source Code", "http://github.com/happycasts/episode-#{@episode.position}" %>
    </span>
</div>
<div class="show_notes">
  <%= textilize @episode.notes %>
</div>

<% if can? :edit, @episode %>
  <div class="actions"><%= link_to "Edit", edit_episode_path(@episode) %></div>
<% end %>
