<div class="shownote">
  <div class="container">
    <%= link_to "http://happycasts.github.io/#{episode.asset_name}.html" do %>
      <i class="fa fa-external-link-square"></i>
      文字稿和源码
    <% end %>
    <% if current_user && current_user.admin?%>
      <%= link_to "Edit", edit_episode_path(episode), class: "edit-ep-btn btn btn-primary" %>
    <% end %>
  </div>
</div>
