<div class="shownote">
  <div class="container">
      文字稿
    <% if current_user && current_user.admin?%>
      <%= link_to "Edit", edit_episode_path(episode), class: "edit-ep-btn btn btn-primary" %>
    <% end %>
    <div class="qrcode-wrap zhifubao">
      <%= link_to "javascript:;", class: "donate" do %>
        <i class="fa fa-coffee"></i>
        支付宝捐助
      <% end %>
    </div>
  </div>
  <div class="text">
    <% if episode.note.blank? %>
      Coming soon...
    <% else %>
      <%= markdown episode.note %>
    <% end %>
  </div>
</div>
