<div class="shownote">
  <div class="container">
      文字稿
    <% if current_user && current_user.admin?%>
      <%= link_to "Edit", edit_episode_path(episode), class: "edit-ep-btn btn btn-primary" %>
    <% end %>
    <div class="social btn btn-primary">
      <% title = episode.id.to_s + '期 ' + episode.name + ' ' + episode.description %>
      <% if episode.id > 162 %>
        <% image_url = "http://media.haoduoshipin.com/stills/#{episode.asset_name}.jpg" %>
      <% else %>
        <% image_url = "http://media.haoduoshipin.com/stills/#{episode.asset_name}.png" %>
      <% end %>
      <% allowed_sites = ["weibo"] %>
      <%= social_share_button_tag title, { :image => image_url }, allowed_sites %>
    </div>
    <div class="qrcode-wrap zhifubao">
      <%= link_to "javascript:;", class: "donate" do %>
        <i class="fa fa-coffee"></i>
        支付宝捐助
      <% end %>
    </div>
  </div>
  <div class="text">
    <% if episode.note.blank? %>
      Coming soon...
    <% else %>
      <%= markdown episode.note %>
    <% end %>
  </div>
</div>
