<div class="shownote">
  <div class="container">
    <%= link_to "文字稿", "http://happycasts.github.io/#{episode.asset_name}.html" %>
    <%= link_to "Edit", edit_episode_path(episode) %>
  </div>
</div>

