<div class="content">
  <p>
  <%= link_to "new episode", new_episode_path %>
  </p>

  <div class="episodes">
    <h1> Episodes:</h1>
    <% for episode in @episodes %>
      <%= render episode %>
      <br \>
    <% end %>
  </div> <%# class="episodes" %>
</div> <%# class="content" %>
