  <% if can? :create, :episodes %>
    <div class="actions"><%= link_to t('new_ep'), new_episode_path, :class => "btn btn-success" %></div>
  <% end %>
<div class="row-fluid">
  <div class="span10">
      <% for episode in @episodes %>
        <%= render episode %>
        <hr>
      <% end %>
  </div>
  <div class="span2">
    <div class="categories">
      <div class="categories_title">
        Categroies
      </div>
      <div class="category">
        <%= link_to_unless(params[:tag_id] == nil, "ALL") %>
      </div>
      <% for tag in Tag.order("name") %>
      <div class="category">
        <%= link_to_unless(params[:tag_id].to_i == tag.id, tag.display_name, params.merge(:tag_id => tag.id, :page => nil)) %>
      </div>
      <% end %>
    </div>
  </div>
</div>
