<div class="content">
  <% if can? :create, :episodes %>
    <div class="actions"><%= link_to t('new_ep'), new_episode_path %></div>
  <% end %>
  <div class="episodes">
    <div class="full">
      <% for episode in @episodes %>
        <%= render episode %>
        <br \>
      <% end %>
    </div>
  </div> <%# class="episodes" %>
</div> <%# class="content" %>
