<div class="episode">
  <div class="video">
    <video class="sublime" width="768" height="576" poster="http://media.happypeter.org/happycasts/episodes/stills/load.png" preload="none">
      <source src="http://media.happypeter.org/happycasts/episodes/videos/<%=@episode.position%>-<%= @episode.name %>.mov " />
    </video>
  </div>

</div>

<hr />
<script id="video_template" type="text/html">

<video width="960" height="600" poster="" controls="controls" preload="none">
<source src="http://media.happypeter.org/happycasts/episodes/videos/1-ctags.mov" type="video/mov"/>
</video>
</script>

