<div class="heading">
  <div class="container">
    <%= link_to "ALL <", tags_path, class: "back-btn" %>
    <%= params[:tag] %>
  </div>
</div>
<div class="body container clearfix">
<% if @episodes.blank? %>
  No episodes found.
<% else %>
  <% @episodes.each_slice(3).to_a.each do |g| %>
  <div class="ep-row clearfix">
    <% g.each do |e| %>
      <%= render partial: "ep_card", locals: { episode: e } %>
    <% end %>
  </div>
  <% end %>
<% end %>
</div>

