<div class="heading">
  <div class="container">
    <%= params[:tag] %>
  </div>
</div>
<div class="body container clearfix">
  <% @episodes.each do |e| %>
    <%= render partial: "ep_card", locals: { episode: e }%>
  <% end %>
</div>

