<div class="heading">
  <div class="container">ALL</div>
</div>
<div class="body container">
  <ul class="list-group tags">
    <% @tags.each do |t| %>
    <li class="list-group-item">
      <%= link_to t.name.downcase, tag_path(t.name) %>
      <span class="badge">
        <%= link_to (pluralize t.ep_count, 'episode'), tag_path(t.name) %>
      </span>
    </li>
    <% end %>
  </ul>
</div>

