<div class="heading">
  <div class="container">ALL</div>
</div>
<div class="body container">

TODO: this will sth like

<h1>https://laracasts.com/index</h1>

 <% @tags.each do |t| %>
    <%= t.name %>
  <% end -%>
</div>

