<div class="home-banner">
  <div class="banner-inner clearfix container">
  <div class="banner-img">
    <img src="https://avatars1.githubusercontent.com/u/72467?v=2&s=460" alt="">
  </div>
  <div class="banner-text">
    <h1>让开发变得有趣</h1>
    欢迎来到 happycasts.net
  </div>

  </div>
</div>

<%= render 'home_page_tags' %>
