<div class="home-banner">
  <div class="banner-inner clearfix container">
    <%= render partial: "shared/mini_player" %>
    <div class="banner-text">
      <h1>有趣的 Web 开发视频</h1>
      编程是技能，不是知识。看书不顶用，必须动手做。画画写字都要临摹，在 happycasts，我会把我的操作过程录下来，你来跟上做一做，相信大有好处。
    </div>
  </div>
</div>
