<div class="home-banner">
  <div class="banner-inner clearfix container">
    <div class="banner-text">
      <h1>好多视频网</h1>
      haoduoshipin.com 域名正在备案，请大家暂时继续使用 happycasts.net
    </div>
  </div>
</div>
