<div class="about-me">
  <div class="about-me-body clearfix">
    <div class="avatar">
      <%= image_tag "peter.jpeg" %>
    </div>
    <div class="text">
      <h2 class="say-hi">
        来串门啦，欢迎！
      </h2>
      我是 happypeter，一个 Web 开发者，俗称做网站的。本站视频由我和其他几位朋友为你倾情奉献。
      <%= link_to "more", "/about" %>
    </div>
  </div>
</div>
