<div class="home-banner">
  <div class="banner-inner clearfix container">
    <div class="banner-img">
      <img src="https://avatars1.githubusercontent.com/u/72467?v=2&s=460" alt="">
    </div>
    <div class="banner-text">
      <h1>又一个视频网站</h1>
      编程是技能，不是知识。看书不顶用，必须动手做。画画写字都要临摹，在 happycasts，我会把我的操作过程录下来，你来跟上做一做，相信大有好处。
    </div>
  </div>
</div>
