<div class="home-banner">
  <div class="banner-inner clearfix container">
    <div class="banner-text">
      <h1>好多视频网</h1>
      原来的 happycasts 太咬嘴了，现在改成 http://haoduoshipin.com 了。 
    </div>
  </div>
</div>
