<div class="home-banner">
  <div class="banner-inner clearfix container">
    <div class="banner-text">
      <h1>《摩登前端开发者》课程</h1>
      两周翻转课堂，招生进行中，<a href="http://qd.haoduoshipin.com">了解详情</a> 。
    </div>
  </div>
</div>
