<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>book</title>
</head>
<body>
  <div class="heading">
    <div class="container">
      书籍
    </div>
  </div>
  <div class="container books">
    <div class="row clearfix">
      <div class="book">
        <a href="http://gitbeijing.com/">
          <img src="book/github.jpg" alt="">
        </a>
        <div class="name">
          <a href="http://gitbeijing.com/">搬进 Github</a>
        </div>
      </div>
      <div class="book">
        <a href="http://book.haoduoshipin.com/tealeaf-http/">
          <img src="book/tealeaf-http.jpg" alt="">
        </a>
        <div class="name">
          <a href="http://book.haoduoshipin.com/tealeaf-http/">HTTP 下午茶</a>
        </div>
      </div>
      <div class="book">
        <a href="http://book.haoduoshipin.com/tlcl">
          <img src="book/tlcl.jpg" alt="">
        </a>
        <div class="name">
          <a href="http://book.haoduoshipin.com/tlcl">快乐的 Linux 命令行</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
