<div class="heading">
  <div class="container">
    书籍
  </div>
</div>
<div class="container books">
  <div class="row clearfix">
    <div class="book">
      <%= link_to "http://happypeter.github.io/tealeaf-http/" do  %>
        <%= image_tag "tealeaf-http.jpg" %>
      <% end %>
      <div class="name">HTTP 下午茶</div>
    </div>
  </div>
</div>
