<div class="container">
  <h1 class="donate-headline">
    乡亲们多多支持
  </h1>
  <div class="donate-option clearfix">
    <%= image_tag "alipay.png" %>
    <div class="option-content">
      <span>支付宝账号：happycasts@gmail.com</span>
    </div>
  </div>
  <div class="donate-option clearfix">
    <%= image_tag "https://www.digitalocean.com/assets/images/logos-badges/png/DO_Logo_Vertical_Black-1f85f3b9.png" %>
    <div class="option-content">
      <a href="https://www.digitalocean.com/?refcode=0dfe1a9df0b2">
        https://www.digitalocean.com/?refcode=0dfe1a9df0b2
      </a>
    </div>
  </div>
</div>
