<div class="container">
  <h1 class="donate-headline">
    乡亲们多多支持
  </h1>
  <div class="donate-option clearfix">
    <%= image_tag "bitcoin.jpg" %>
    <div class="option-content">
      <a href="http://blockchain.info/address/12zKbscEVTYdmE3EN2L6PmjEU45B4vcfnf">
        12zKbscEVTYdmE3EN2L6PmjEU45B4vcfnf
      </a>
    </div>
  </div>
  <div class="donate-option clearfix">
    <%= image_tag "https://www.digitalocean.com/assets/images/logos-badges/png/DO_Logo_Vertical_Black-1f85f3b9.png" %>
    <div class="option-content">
      <a href="https://www.digitalocean.com/?refcode=0dfe1a9df0b2">
        https://www.digitalocean.com/?refcode=0dfe1a9df0b2
      </a>
    </div>
  </div>
</div>
