<div class="container clearfix">
  <div class="stat">
    <h2>Episodes</h2>
    <span class="stat-heading"><%= @episode_count %></span>
  </div>
  <div class="stat">
    <h2>Users</h2>
    <span class="stat-heading"><%= @user_count %></span>
  </div>
  <div class="stat">
    <h2>Comments</h2>
    <span class="stat-heading"><%= @comment_count %></span>
  </div>
</div>
