default: &default
  example: "www.example.com"
  alipay:
    pid: ''
    secret: ''
  github:
    id: 'd45eda5d6eb475b138b6'
    secret: '2973db064790e7a6fd493fff238de2b50e8249c7'
  google:
    id: '417180754307-lbp1fbd2dapcdiu1go3tupo40jl5phle.apps.googleusercontent.com'
    secret: 'VEXORcWM5q63leLTPynEd1U1'
  resque:
    user: 'you'
    secret: 'secret'
  tinysou:
    token: 'your auth token'
  mailgun:
    domain: 'your domain'
    username: 'your username'
    password: 'your password'

production:
  <<: *default

development:
  <<: *default

test:
  <<: *default
  default_password: ''


