default: &default
  example: "www.example.com"
  github:
    id: 'ec0t009cd3615fb6b484' # replace with your own
    secret: '49cc6bdf86b2c80432c19f0da5aede42c9013b41' # replace with your own

production:
  <<: *default

development:
  <<: *default

test:
  <<: *default
  default_password: ''


