.name-card {
  margin-bottom: 3em;
  background: #fff;
  padding: 2em;
  border-right: 30px solid #f5f5f5;
  min-height: 169px;
  width: 300px;

  img {
    display: block;
    float: left;
    width:100px;
    border-radius: 50%;
  }
}
