@import "globals/variables";
@import "globals/mixins";

.main {
  width: 100%;
  .content {
    width: 746px;
    float: left;
  }
  .sidebar {
    width: 134px;
    float: right;
  }
}

#subscribe {
  margin-bottom: 10px;
  ul.horizontal {
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    float: left;
    padding-left: 0px;
    margin-right: 10px;
    text-align: center;
  }
  a {
    display: block;
    line-height: 30px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #5DADE2;
    color: white;
    &:hover {
      background-color: #47a2de;
    }
  }
}

.check-all {
  text-align: right;
}
.recent-comments {
  a:hover {
    text-decoration: none;
  }
  background-color: white;
  color: #3A87AD;
  margin-bottom: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  .title {
    font-size: 16px;
    background: #6cc644;
    padding: 5px 0px;
    text-align: center;
    margin: 20px 0 0 0;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
  }
  .latest-comment {
    a {
      display: block;
      margin: 0px;
      padding-top: 10px;
      color: #666;
      letter-spacing: 2px;
      word-wrap: break-word;
    }
  }
  .metadata {
    width: 100%;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
}

.categories {
  border: solid 0.5px darken($github-gray, 10%);
  @include peter-shadow;
}
.categories_title {
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 120%;
  @include github-hero;
}
.category {
  border-bottom: solid 1px #e6e6e6;
  font-weight: bold;
  a {
    padding: 10px;
    display: block;
    &:hover {
      background: #f3f3f3;
      border-right: 3px solid #0088cc;
      text-decoration: none;
      span {
        color: #666;
      }
    }
  }
  img {
    width: 20px;
    height: 22px;
    margin-right: 7px;
  }
}
.category.nolink {
  background: #f3f3f3;
  border-right: 3px solid #0088cc;
  padding: 10px;
}

#login_buttons {
  margin: 10px 0 14px 0;
}

/*** SIDE ***/
.side {
  position: absolute;
  right: 0;
  top: 0;
  .banner { margin-top: 15px; }
}

.alternatives {
  float: right;
  ul {
    list-style: none;
    margin-top: 10px;
    li {
      float: left;
      padding-left: 10px;
    }
  }
}
/* shownotes */
.show_notes {
  position: relative;
  padding: 20px;
  border: 1px solid $github-gray;
  margin-bottom: 20px;
  @include peter-shadow;
  .edit_shownotes_btn {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}
.comment_view {
  display: block;
}
.code_block {
  .code_header {
    @include github-fileheader;
    padding: 5px;
    border: 1px solid darken($github-gray, 20%);
  }
  margin-bottom: 20px;
}
#ep_notes_label, #ep_comments_label {
  width: 100px;
  height: 30px;
  padding-top: 10px;
  border: solid 1px gray;
  border-bottom: transparent;
  text-align: center;
  margin-top: 30px;
}

/* for episode form */
#new_episode, .edit_episode {
  @include form-base;
  abbr, .error {
    color: #C00;
    margin-left: $episode-new-margin-left;
  }
  #episode_published_at_1i {
    margin-left: $episode-new-margin-left;
  }
}
textarea#episode_description, textarea#episode_notes {
  width: 700px;
  height: 48px;
  margin-bottom: 9px;
  margin-left: 10px;
  @include textarea-style;
}
textarea#episode_notes { height: 350px; }

/* the /all page */
#loadingimage {
  display: none;
  padding-bottom: 20px;
  text-align: center;
}

// bottom signup section
.ep_login {
  margin: 30px 0;
  border-top: 1px solid #ddd;
  .note {
    width: 500px;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
    background-color: #E6F4F9;
    color: #4D8796;
  }
}
