@import "globals/variables";
@import "globals/mixins";



.brand {
  line-height: 70px;
  color: white;
  font-size: 27px;
}

.header-actions {
  float: right;
  li {
    display: inline-block;
    padding: 0 10px;
    a {
      line-height: 70px;
      opacity: .8;
      color: #fff;
      &:hover {
        opacity: 1;
      }
    }
  }
}
