@import "variables";


.page-welcome>.header {
  background: teal;
}
.header {
  background-color: black;
}
.brand {
  line-height: 70px;
  color: white;
  font-size: 23px;
  float: left;
}


.header-actions {
  .left {
    float: left;
    padding-left: 45px;
  }
  .right {
    float: right;
  }
  li {
    display: inline-block;
    a {
      line-height: 70px;
      padding: 10px 20px;
      opacity: .9;
      color: #fff;
      &:hover {
        opacity: 1;
        background: white;
        color: #333;
      }
    }
  }
}

/* footer */
.footer {
  border-top: 1px solid #c5c5c5;
  min-height: 200px;
  margin-top: 50px;
  padding-top: 3em;
  padding-bottom: 3em;
  background: #f8f5f0;
  ul.footer-nav {
    li {
      list-style: none;
      line-height: 1.7;
    }
    .divider {
      min-height: 1px;
      padding-bottom: 0.7em;
      margin-bottom: 0.7em;
    }
  }
  .container {
    position: relative;
    img {
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 100px;
    }
  }

}
