@import "globals/variables";
@import "globals/mixins";

/* personal info*/
#user_show {
  .profile {
    position: relative;
    margin-bottom: 20px;
    .avatar {
      width: 120px;
      float: left;
    }
    .name-email {
      margin-top: 5px;
      margin-left: 10px;
      width: 400px;
      float: left;
      #user-name {
        font-size: 250%;
        font-weight: bold;
        margin-bottom: 12px;
      }
      #user-email {
        font-size:140%;
        color: darken($github-gray, 50%);
        margin-bottom: 5px;
      }
    }
    .admin-actions {
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
  }
  .admin-actions {
    a {
      margin-left: 30px;
    }
  }
}

#new_mail {
  label {
    float: left;
    width: 140px;
    padding-top: 5px;
    text-align: right;
    font-weight: bold;
    color: #333;
  }
  #mailbody {
    margin-left: 10px;
    width: 700px;
    height: 100px;
  }
  input.btn {
    float: right;
    margin: 30px 40px 25px 0px;
  }
}

.edit_user {
  @include form-base;
  input { width: 280px; }
  input.btn {
    float: left;
    margin: {
      top: 10px;
      bottom: 25px;
      left: 312px;
    }
  }
  .alert-info {
    float: right;
    margin: 2px 280px 0 0;
    color: red;
  }
}

#user_show_email, #user_email_subscription {
  width: 30px;
  height: 16px;
  margin-top: 8px;
}

/*** LOGIN ***/
.third_party_login {
  padding: 0;
  text-align: center;
  list-style-type: none;
  height: 35px;
  margin-top: 20px;
  li {
    display: inline-block;
    line-height: 35px;
  }
  .github {
    margin-right: 10px;
  }
}

/*** user#index ***/
#user_no {
  font-weight: bold;
  font-size: 140%;
  text-align: center;
  margin: 2em;
}

#huo {
  text-align: center;
  margin: 40px;
  font-size: 180%;
  font-weight: 1000;
  display: block;
}

#login { width: 31em; }

.login_form {
  margin: 40px auto;
  .error_box {
    margin-bottom: 1em;
    background: hsl(8, 100%, 95%) none repeat scroll 0%;
    border: 1px solid hsl(13, 86%, 46%);
    padding: 1em;
    font-weight: bold;
  }
  h1 {
    color: white;
    font-size: 120%;
    font-weight: bold;
    margin: 0;
    padding: 12px;
    @include github-hero;
    a {
      display: inline-block;
      margin-left: 2em;
      font-size: 80%;
      font-weight: normal;
      color: hsl(196, 33%, 94%);
      text-shadow: none;
    }
  }
  .form_body {
   padding: 2em;
   background-color: hsl(196, 33%, 94%);
   overflow: hidden;
   border-style: solid;
   border-width: 1px 1px 2px;
   border-color: hsl(196, 33%, 94%) hsl(204, 15%, 87%) hsl(204, 15%, 87%);
   border-radius: 0 0 3px 3px;
   font-size: 110%;
   input#name,input#password {
     width: 21em;
     padding: 5px;
     margin: .2em 0 1em 0;
   }
 }
}

#signup_form_area {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 50px;
  line-height: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 7px 0 #d6d6d6;
  .form-heading {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    color: #555;
    img {
      height: 40px;
      display: block;
      margin: 0 auto 5px;
    }
  }
  .form-body {
    padding: 25px;
  }
  .form-footer {
    background-color: #f5f5f5;
    padding: 30px;
    text-align: center;
  }
  .create_account_btn {
    padding: 5px 15px;
  }
  .form {
    margin-top: 20px;
    margin-bottom: 20px;
    label {
      width: 60px;
      display: inline-block;
      text-align: right;
    }
    input {
      margin-left: 10px;
      width: 230px;
      color: #555;
      font-size: 14px;
      padding: 6px 12px;
      line-height: 1.5;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      &:focus {
        border-color: #66afe9;
        outline: 0;
      }
    }
  }
  #not_match_error, #blank_password_error, #blank_username_error {
    display: none;
    color: $error_red;
  }
}

/*** ABOUT ***/
#about {
  line-height:  25px;
  margin: 20px;
  .peter {
    float: right;
    padding: 7px;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 35px;
    border: solid 1px #CCC;
    text-align: center;
    font-weight: bold;
    img {
      display: block;
      padding-bottom: 5px;
    }
  }
  h2 {
    margin-top: 25px;
    margin-bottom: 8px;
  }
  p { margin: 8px 0; }
  h3 {
    margin-bottom: 0px;
  }
}

/* Users */
.pg_user {
  padding-left: 39px;
  margin: 30px 0px 20px;
}

table.user-list tr th {
  text-align: left;
}
