@import "variables";

.banner-profile {
  min-height: 200px;
  padding-top: 30px;
  background: lighten(teal, 8%);
  color: white;
  font-size: 50px;
  .avatar {
    float: left;
    img {
      width: 190px;
    }
  }
}

.banner-links {
  color: #fff;
  li {
    font-size: 15px;
    line-height: 2.2;
  }
  padding-left: 0;
  float: right;
  text-align: right;
}
.profile-stats {
  background: #333;
  padding: 20px;
  border-bottom: 1px solid #555;
  color: white;
  h2 {
    a {
      margin-left: 10px;
    }
  }
}

.profile-comments {
  margin-top: 30px;
}

// signup and login
.users-signup, .users-new {
  h3 {
    display: inline-block;
    font-weight: normal;
  }
  .third-party-login {
    display: inline;
    li {
      display: inline-block;
      margin-left: 20px;
    }
  }
}



/* profile edit */

.profile-edit-button {
  padding: 20px;
}
.profile-edit-container {
  width: 500px;
  margin: 20px auto;
}
