@import "globals/variables";
@import "globals/mixins";

.banner-profile {
  min-height: 200px;
  padding-top: 30px;
  background: lighten(teal, 8%);
  color: white;
  font-size: 50px;
  .avatar {
    float: left;
  }
}

.banner-links {
  color: #fff;
  li {
    font-size: 15px;
    line-height: 2.2;
  }
  padding-left: 0;
  float: right;
  text-align: right;
}
.user-stats {
  background: #333;
  border-bottom: 1px solid #555;
  color: white;
}

/* user#signup, user#login */
.form-section {
  @include form-area;
  @include form-head;
  .tip {
    width: 200px;
    margin: 0 auto;
    font-size: 11px;
    text-align: center;
    .action {
      border-left: 1px solid #dfdfdf;
      padding-left: 10px;
      margin-left: 5px;
    }
  }
  .form-body {
    padding: 25px;
    @include signup-login-form-style;
  }
  .form-footer {
    text-align: center;
    margin-bottom: 30px;
  }
  .submit-btn {
    padding: 6px 20px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
  }
}
#signup-form-section {
  #not_match_error, #blank_password_error, #blank_username_error {
    display: none;
    color: $error_red;
  }
}

/* Users */
#user_no {
  font-weight: bold;
  font-size: 140%;
  text-align: center;
  margin: 2em;
}

.pg_user {
  padding-left: 39px;
  margin: 30px 0px 20px;
}

table.user-list tr th {
  text-align: left;
}

/* donate */
.donate-headline {
  color: $sky-blue;
  text-align: center;
}
.donate-option {
  border: 1px solid black;
  margin-top: 40px;
  padding: 20px;
  img {
    float: left;
    margin-right: 20px;
    height: 100px;
  }
  .option-content {
    font-family: monospace;
    font-size: 20px;
    line-height: 100px;
    text-align: center;
  }
}
