@import "variables";
.slogan {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  color: darken($yellow, 40%);
  margin-bottom: 0;
  position: relative;
  .puppy {
    width: 40px;
    position: absolute;
  }
  span {
    padding-left: 65px;
  }
}
