.gatsby-highlight-code-line {
    background-color: #444;
    display: block;
    margin-right: -1em;
    margin-left: -1em;
    padding-right: 1em;
    padding-left: 0.75em;
    border-left: 0.25em solid #66d9ef;
  }

.gatsby-highlight {
  background-color: #272822;
  border-radius: 0.3em;
  margin: .5em 0;
  padding: 1em;
  overflow: auto;
}

/**
  * Remove the default PrismJS theme background-color, border-radius, margin,
  * padding and overflow.
  * 1. Make the element just wide enough to fit its content.
  * 2. Always fill the visible space in .gatsby-highlight.
  */
.gatsby-highlight pre[class*="language-"] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left;
  min-width: 100%;
}

/*
 * This should not be required. Why is it?
 * TODO: Fix
 */
.gatsby-resp-image-wrapper {
  z-index: 1 !important;
}

.post h1, .post h2, .post h3, .post h4, .post h5 {
  font-family: 'Georgia', serif;
  letter-spacing: 0.6px;
  word-spacing: 0px;
}

/*
 * https://codepen.io/ibrahimjabbari/pen/kgxAa
 */
 .post-content a:not(.anchor) {
  display: inline;
  color: #d85d15;
  position: relative;
  text-decoration: none;
  padding: 2px;
  transition: all 175ms ease-in-out;
}

.post-content a:before, .post-content a:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #d85d15;
}

.post-content a:hover {
  background-color: rgba(216, 93, 21, 0.05);
}

.post-content a:after {
  bottom: -2px;
  transition: 200ms ease-out;
}

.post-content a:before {
  top: -2px;
  transform: translateY(24px);
  opacity: 0;
  transition: 200ms ease-out;
}

.post-content a:hover:before {
  transform-origin: center top;
  transform: translateY(0) scaleX(1.025);
  opacity: 1;
}

.post-content a:hover:after {
  transform-origin: center bottom;
  transform: scaleX(1.025);
}

.post-content blockquote {
  margin-left: 0.75rem;
  padding-left: 1.5rem;
  border-left: 4px solid #ddd;
}

.post-content video.responsive {
  max-width: 100%;
  max-height: 100%;
}
