$('.weixin').tooltipster({
  content: $('<div class="js-qrcode"><%= image_tag "weixin.jpg" %></div>')
});

$('.zhifubao').tooltipster({
  theme: 'tooltipster-shadow',
  content: $('<div class="js-qrcode"><%= image_tag "alipay.png" %></div>')
});
