.about-me {
  margin: 100px 0;
  min-height: 200px;
  min-width: 1100px;
  background-color: teal;
  color: white;
  .about-me-body {
    padding: 30px 0 ;
    width: 700px;
    margin: 0 auto;
  }
  a {
    color: white;
    text-decoration: underline;
  }
  .avatar {
    float: left;
    width: 110px;
    img {
      width: 100px;
      border-radius: 50%;
      border: 2px solid white;
    }
  }
  .text {
    h2 {
      font-weight: normal;

    }
    width: 580px;
    float: right;
  }
}
