.books {
  padding-top: 50px;
}
.book {
  width: 300px;
  float: left;
  text-align: center;
  img {
    padding: 10px;
    border: 1px solid #ddd;
    width: 230px;
  }
  .name {
    padding: 30px 0;
    font-size: 18px;
  }
}
