.home-banner {
  background-color: #008080 !important;
  .banner-inner {
    padding: 70px 180px;
    height: 400px;
    .banner-text {
      color: white;
      h1 {
        font-weight: normal;
        font-size: 25px;
      }
    }
    .mini-player-container {
      width: 200px;
      height: 120px;
    }
  }
}
