.home-banner {
  background-color: #008080 !important;
  .banner-inner {
    padding: 70px 140px;
    height: 400px;
    .banner-text {
      width: 300px;
      float: right;
      color: white;
      h1 {
        font-weight: normal;
        font-size: 25px;
      }
    }
  }
}
