.video-list {
  display: none;
  min-height: 50em;
  margin-bottom: 50px;
  .item {
    width: 100%;
    display: table;
    text-decoration: none;
    color: #777777;
    transition: all .5s ease;
    margin-top: 1em;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    &:hover, &:active {
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 20px 0 rgba(0, 0, 0, 0.12);
      cursor: pointer;
      color: #777777;
    }
    .left {
      display: table-cell;
      vertical-align: middle;
      width: 12%;
      background-color: #00bcd4;
      text-align: center;
      color: #fff;
      font-size: 1.2em;
      font-weight: 700;
    }
    .right {
      display: table-cell;
      padding: 15px;
      .title {
        word-break: break-all;
      }
      .date {
        font-size: .8em;
        opacity: .8;
        padding-top: 15px;
      }
    }
  }
}
