@import "globals/variables";
@import "globals/mixins";

.write-comment-area {
  padding: 0 20px;
  textarea {
    height: 88px;
    width: 100%;
    display: block;
    margin-left: -5px; // 5px padding in textarea-style
    margin-bottom: 5px;
  }
}
.nice_comment {
  position: relative;
  .error {
    padding-left: 10px;
    color: $error_red;
    font-weight: bold;
    padding-bottom: 5px;
    display: none;
  }
  form {
    background-color: $github-gray;
    margin-bottom: 9px;
  }
  label {
    display: block;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: bold;
  }
  a.formatting_tips {
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
  }
  #comment_btn { float: right; }
  margin-bottom: 40px;
}
h2.comments { margin-top: 30px; }
i.icon-comment { color: darken($github-gray, 30%); }
i.icon-file {
  color: darken($github-gray, 30%);
  font-size: 20px;
}
.comment {
  margin-bottom: 15px;
  border: solid 1px darken($github-gray, 20%);
  &:hover { border: solid 1px darken($github-gray, 40%); }
  a {
    text-decoration:none;
    &:hover { text-decoration: underline; }
  }
  .comment_head {
    padding: 5px;
    font-weight: bold;
    font-size: 80%;
    color: hsl(0, 0%, 40%);
    margin-bottom: 5px;
    .comment_time {
      float: right;
      margin-right: 10px;
    }
  }
  .comment_body {
    overflow: auto;
    word-wrap: break-word;
    position: relative;
    padding: 10px;
    ul.actions {
      position: absolute;
      top: 0px;
      right: 14px;
      list-style: none;
      li {
        display:inline-block;
        vertical-align:top;
      }
      &:hover a { text-decoration: none; }
    }
  }
}

.edit_comment_form {
  position:relative;
  height: 180px;
  #error {
    color: red;
    font-weight: bold;
    padding-left: 10px;
  }
  .comment_head {
    padding: 5px;
    font-weight: bold;
    background-color:  $github-gray;
    font-size: 80%;
    margin-bottom: 5px;
    color: hsl(0, 0%, 40%);
    .comment_time {
      float: right;
      margin-right: 10px;
    }
  }
  #comment_btn {
    position: absolute;
    top: 140px;
    right: 10px;
  }
}

