@import "variables";

.comment-wraper {
  position: relative;
  .comment-ep-number {
    position: absolute;
    top: 15px;
    right: 130px;
  }
  .comment:first-child {
    margin-top: 30px;
  }
}
.comment {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  width: 91%;
  .heading {
    margin-bottom: 5px;
    .name {
      font-size: 18px;
      display: inline;
      font-weight: normal;
    }
    .datetime {
      color: #999;
      font-size: 0.9em;
    }
  }
    textarea {
      width: 100%;
      height: 120px;
      font-size: 17px;
      border: 0;
      &:focus {
        outline:0px none transparent;
      }
    }
    input.btn-submit {
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  .body {
    padding: 15px;
    border-radius: 5px;
    position: relative;
    overflow: visible;
    float: left;
    width: 87%;
    border: 1px solid #ddd;
    line-height: 26px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 21px;
      left: -6px;
      width: 10px;
      height: 10px;
      background: #fff;
      border-left: 1px solid #cad5e0;
      border-top: 1px solid #cad5e0;
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }
  .avatar {
    float: left;
    margin-right: 29px;
    position: relative;
    overflow: visible;
    text-align: center;
    .image-circle {
      width: 75px;
      border-radius: 50%;
    }
  }
}
