@import "compass";
@import "vendor/pygments";
@import "vendor/bootstrap";
@import "peter";
@import "search";
@import "vendor/jplayer.blue.monday";


.box {
  border: 1px solid darken($peter-gray, 50%);
  background-color: #fff;
  padding:10px;
  margin: 0 0 20px 0; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 0px 2px rgba(0,0,0,.1);
  box-shadow: 0 0px 2px rgba(0,0,0,.05);
}
