.welcome .header {
  background: teal;
}
.home-banner {
  background-color: #008080 !important;
  .banner-inner {
    padding: 70px 250px;
    height: 400px;
    .banner-text {
      color: white;
      h1 {
        font-weight: normal;
      }
    }
    .banner-img {
      width: 310px;
      float: left;
      img {
        width: 210px;
        display: block;
        border: 5px solid white;
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
      }
    }
  }
}
