$railscasts_shownotes_link_blue: #1B97F2;
$main_width: 960px;
$peter-gray: #ececec;
$github-blue:#839ba9;
$error_red: #800000;
@mixin github-fileheader {
  background:-moz-linear-gradient(hsl(0, 0%, 97%),hsl(0, 0%, 88%));
  background: -webkit-linear-gradient(hsl(0, 0%, 97%),hsl(0, 0%, 88%));
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec',endColorstr='darken($peter-gray, 20%)')";

}
@mixin github-hero {
  background:#839ba9;
  background:-moz-linear-gradient(#839ba9,#405a6a);
  background:-webkit-linear-gradient(#839ba9,#405a6a);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#839ba9',endColorstr='#405a6a')";
}
@mixin peter-shadow {
  -webkit-box-shadow: 0 0 6px $peter-gray;
  -moz-box-shadow: 0 0 6px $peter-gray;
  box-shadow: 0 0 6px $peter-gray;
}
@mixin no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin textarea-style {
  display: inline-block;
  padding: 5px;
  border: 1px solid darken($peter-gray, 20%);
  font-size: 120%;
  @include rounded-corners(3px);
  @include no-shadow;
  &:focus
  {
    border: 1px solid darken($peter-gray, 50%) ;
    @include peter-shadow;
  }
}

/*** SHARED ***/
body {
  background-color: #FFF;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin: 0;
}

a {
  color: #1B97F2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a img {
  border: none;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
  margin-top: 3px;
  margin-bottom: 4px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

.clear {
  clear: both;
}

ul {
  margin: 4px 0;
  padding-left: 17px;
}

ul.horizontal {
  @include horizontal-list;
}

/*** INDEX ***/
#rss-tag {
  height:35px;
}

.recent-comments {
  font-weight: bold;
  float: right;
}

.categories {
  border: solid 0.5px darken($peter-gray, 10%);
  @include peter-shadow;
}

.categories_title {
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 120%;
  @include github-hero;
}
.category {
  border-bottom: solid 0.5px darken($peter-gray, 10%);
  font-weight: bold;
  padding: 10px;
}

/*** EPISODES ***/
.episode {
  margin-bottom: 25px;
  padding-bottom: 19px;
  .episode_snapshot {
    float: left;
  }
  img {
    border: solid 1px #BBB;
  }
  .episode_intro {
    padding-left: 210px;
    .episode_intro_title {
      color: darken($peter-gray, 50%);
      font-size: 80%;
    }
    h2 {
      margin-bottom: 6px;
    }
  }
  .episode_watch_btn {
    padding-top: 5px;
    padding-left: 210px;
  }
  border-bottom: solid 1px hsl(0, 0%, 90%);
  .clear {
    clear: both;
  }
}

#episode {
  margin-bottom: 50px;
  .episode_snapshot {
    float: left;
    border: solid 1px #BBB;
  }
  .episode_intro {
    padding-left: 210px;
    .episode_intro_title {
      color: darken($peter-gray, 50%);
      font-size: 80%;
    }
  }
  .episode_watch_btn {
    padding-top: 5px;
    padding-left: 210px;
  }
  span#episode_no {
    color: darken($peter-gray, 30%);
  }
  .alternatives {
    ul {
      list-style: none;
      li {
        float: left;
        padding-left: 20px;
      }
    }
    float: right;
  }
  #video_wrapper {
    border: solid 1px #777;
    margin-bottom: 14px;
  }     
}


/*** PAGINATION ***/

.pagination {
  margin: 8px 0;
  font-size: 12px;
}

.pagination .disabled {
  color: #999;
}

.pagination em {
  font-style: normal;
}

.pagination a, .pagination em, .pagination .previous_page, .pagination .next_page {
  padding: 4px;
}


/*** SIDE ***/

.side {
  position: absolute;
  right: 0;
  top: 0;
}

.side .banner {
  margin-top: 15px;
}

.episode_views {
  padding: 0 20px;
  margin: 0;
  font-weight: normal;
  color: #444;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: solid 1px #BBB;
  background-color: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
  background: -moz-linear-gradient(top,  #EEE, #CCC);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#CCC');
  margin-bottom: 14px;
}

.episode_views .view {
  padding-left: 3px;
}

.episode_views .view img {
  background-color: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#FFF));
  background: -moz-linear-gradient(top,  #EEE, #FFF);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#FFF');
  padding: 7px;
  vertical-align: middle;
  border: solid 1px #BBB;
  border-top: none;
  border-bottom: none;
}

.episode_views .view a img {
  background: none;
  padding: 2px;
  border: none;
}


/* comment */
div.nice_comment {
  position: relative;
  .error {
    padding-left: 10px;
    color: $error_red;
    font-weight: bold;
    padding-bottom: 5px;
    display: none;
  }
  textarea
  {
    width: 930px;
    height: 88px;
    margin-bottom: 9px;
    margin-left:10px;
    margin-right:10px;
    @include textarea-style;
  }
  form {
    background-color: $peter-gray;
    margin-bottom: 9px;
  }
  label {
    display: block;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: bold;
  }
  a.formatting_tips {
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
  }
  #comment_btn {
    float: right;
  }
  margin-bottom: 40px;
}
h2.comments {
  margin-top: 30px;
}
i.icon-comment {
  color: darken($peter-gray, 30%);
}
i.icon-file {
  color: darken($peter-gray, 30%);
  font-size: 20px;
}
div.comment {
  @include peter-shadow;
  margin-bottom: 15px;
  border: solid 1px darken($peter-gray, 20%);
  &:hover {
    border: solid 1px darken($peter-gray, 40%);
  }
  a {
    text-decoration:none;
    &:hover {
      text-decoration: underline; 
    }
  }
  .comment_head {
    padding: 5px;
    font-weight: bold;
    @include github-fileheader;
    font-size: 80%;
    color: hsl(0, 0%, 40%);
    margin-bottom: 5px;
    .comment_time {
      float: right;
      margin-right: 10px;
    }
  }
  .comment_body {
    position: relative;
    padding: 10px;
    ul.actions {
      position: absolute;
      top: 4px;
      right: 4px;
      list-style: none;
      li {
        display:inline-block; 
        vertical-align:top; 
      } 
      &:hover{
        a {
          text-decoration: none;
        }
     }
    }
  }
}

.edit_comment_form {
  position:relative;
  height: 180px;
  #error {
    color: red;
    font-weight: bold;
    padding-left: 10px;
  }
  .comment_head {
    padding: 5px;
    font-weight: bold;
    background-color:  $peter-gray;
    font-size: 80%;
    margin-bottom: 5px;
    color: hsl(0, 0%, 40%);
    .comment_time {
      float: right;
      margin-right: 10px;
    }
  }
    
  textarea
  {
    width: 930px; 
    height: 88px;
    margin-left:10px;
    margin-right:10px;
    @include textarea-style;
  }
  #comment_btn {
    position: absolute;
    top: 140px;
    right: 10px;
  } 
}


/*** ABOUT ***/

#about {
  margin-right: 300px;
}

#about .ryan {
  float: right;
  padding: 7px;
  margin-left: 50px;
  border: solid 1px #CCC;
  text-align: center;
  font-weight: bold;
}

#about .ryan img {
  display: block;
  padding-bottom: 5px;
}

#about h2 {
  margin-top: 25px;
  margin-bottom: 8px;
}

#about p {
  margin: 8px 0;
}



/* shownotes */
.show_notes {
  position: relative;
  padding: 20px;
  border: 1px solid $peter-gray;
  margin-bottom: 20px;
  @include peter-shadow;
  .edit_shownotes_btn {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}
.comment_view {
  display: none;
}

.code_block {
  .code_header {
    @include github-fileheader;
    padding: 5px;
    border: 1px solid darken($peter-gray, 20%);
  }
  margin-bottom: 20px;
}

#markdown_cheatsheet {
  display: none;
}

/* footer */

html,body{
  margin:0;
  border:0;
  height:100%;
}

#footer-push {
  height:160px;
  clear:both;
}
.footer {
  border-top: solid 1px #abc;
  font-size:80%;
  min-height:160px;
  overflow:hidden;
  border-top:1px solid #E0E0E0;
  border-bottom:1px solid #E0E0E0;
  box-shadow:inset 0 -1px 0 white;
  background-color:#f8f8f8;
  .container {
    width: 960px;
  }
  ul.footer_nav{
    position:relative;
    float:left;width:164px;
    margin:20px 10px;
    list-style:none;
    h4{
      margin-bottom:5px;
      padding-bottom:5px;
      border-bottom:thin solid #e1e1e1;
    }
  }
  a:hover {
    text-decoration: none;
  }
}
#container {
  width:$main_width;
  text-align:left;
  margin:0 auto;
}
#wrapper {
  min-height:100%;
  height:auto!important;
  height:100%;
  margin-bottom:-160px;
}

/* markdown example */
table {
  margin-left:20px;
  tr {
      border-bottom: 1px solid darken($peter-gray, 10%);
    td {
      padding-top: 10px;
      padding-left: 20px;
    }
    th {
      padding-left: 20px;
    }
  }
}

/* for new episode form */

$marginleft: 10px;

@mixin form-base {
  .input {
    display: table;
    margin-bottom: 18px;
    line-height: 18px;
  }
  label {
    float: left;
    width: 140px;
    padding-top: 5px;
    text-align: right;
    font-weight: bold;
    color: #333;
  }
  input {
    display: inline-block;
    width: 210px;
    height: 18px;
    padding: 4px;
    margin: {
      bottom: 9px;
      left: $marginleft;
    }
    font-size: 13px;
    color: #555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  input.btn {
    float: right;
    width: 130px;
    height: 30px;
    margin: {
      bottom: 25px;
      right: 50px;
    }
    color: white;
    font-size: 16px;
  }
}

.edit_user {
  @include form-base;
}

#new_episode {
  @extend .edit_user;
  abbr, .error { 
    color: #C00;
    margin-left: $marginleft;
}
  #episode_published_at_1i { margin-left: $marginleft; }
}

textarea#episode_description {
    width: 750px;
    height: 48px;
    margin-bottom: 9px;
    margin-left: 10px;
    @include textarea-style;
} 

textarea#episode_notes {
    width: 750px;
    height: 350px;
    margin-bottom: 9px;
    margin-left: 10px;
    @include textarea-style;
} 

#user_show {
  .profile {
    .edit_profile_btn {
      text-align: right;
    }
    .main_info {
      margin-top: 5px;
    }
  }
  #admin_zone {
    font-size: 160%;
    margin-top: 10px;
    margin-bottom: 10px ;
    float: right;
    .btn {
      margin-bottom: 10px ;
    }
  }
  #user_name {
    font-size: 250%;
    font-weight: bold;
    margin-bottom: 12px ;
  }
  #user_email {
    font-size:140%;
    color: darken($peter-gray, 50%);
    margin-bottom: 5px;
  }
  #user_bio {
    color: darken($peter-gray, 50%);
    font-style: italic;
  }
}


/*** PAGINATION ***/

.pagination {
  margin: 8px 0;
  font-size: 12px;
}

.pagination .disabled {
  color: #999;
}

.pagination em {
  font-style: normal;
}

.pagination a, .pagination em, .pagination .previous_page, .pagination .next_page {
  padding: 4px;
}

/*** LOGIN ***/
#github_login {
  font-weight: bold;
  font-size: 120%;
}

#login_github {
  text-align: center;
}

/* css image sprites */
@import "subscribe/*.png";
@include all-subscribe-sprites;

#subscribe {
  margin-bottom: 0.4em;
  li {
    position: relative;
    padding-left: 0px;
  }
  a {
    display: block;
    width: 28px;
    height: 28px;
  }
}
/* end */

/*** user#index ***/
#user_no {
  font-weight: bold;
  font-size: 140%;
  text-align: center;
  margin: 2em;
}

#huo {
  text-align: center;
  margin: 40px;
  font-size: 180%;
  font-weight: 1000;
  display: block;
}

#login {
  width: 31em;
}

.login_form {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
  .error_box {
    margin-bottom: 1em;
    background: hsl(8, 100%, 95%) none repeat scroll 0%;
    border: 1px solid hsl(13, 86%, 46%);
    padding: 1em;
    font-weight: bold;
  }
  h1 {
    color: white;
    font-size: 120%;
    font-weight: bold;
    margin: 0;
    padding: 12px;
    @include github-hero;
    a {
      display: inline-block;
      margin-left: 2em;
      font-size: 80%;
      font-weight: normal;
      color: hsl(196, 33%, 94%);
      text-shadow: none;
    }
  }
  .form_body {
     padding: 2em;
     background-color: hsl(196, 33%, 94%);
     overflow: hidden;
     border-style: solid;
     border-width: 1px 1px 2px;
     border-color: hsl(196, 33%, 94%) hsl(204, 15%, 87%) hsl(204, 15%, 87%);
     border-radius: 0 0 3px 3px;
     font-size: 110%;
     input#name,input#password {
       width: 21em;
       padding: 5px;
       margin: .2em 0 1em 0;
     }
    #username, #password {

    }
   }

}

#signup_form_area {
  width: 31em;
  margin: auto; 
  input#user_name, #user_password, #user_password_confirmation, #user_email {
    width: 21em;
    padding: 5px;
    margin: .2em 0 1em 0;
  }
  #not_match_error, #blank_password_error, #blank_username_error {
    display: none;
    color: $error_red;
  }
}
