$railscasts_shownotes_link_blue: #1B97F2;
$main_width: 960px;
@mixin github-hero {
  background:#839ba9;
  background:-moz-linear-gradient(#839ba9,#405a6a);
  background:-webkit-linear-gradient(#839ba9,#405a6a);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#839ba9',endColorstr='#405a6a')";
}
body {
  background-color: #FFF;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin: 0;
}

#container {
	text-align:left;
    margin:0 auto;
    width:$main_width;
    padding: 10px;
}

.categories {
  border: solid 10px green;
}

.categories_title {
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 120%;
  @include github-hero;
}
.category {
  border: solid 1px red;
  font-weight: bold;
  padding: 5px;
}

a {
  color: #1B97F2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a img {
  border: none;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

.clear {
  clear: both;
}

ul {
  margin: 4px 0;
  padding-left: 17px;
}

ul.horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.horizontal li {
  margin: 0;
  padding: 0;
  float: left;
}

#flash_notice, #flash_alert {
  padding: 10px 0;
}

#flash_notice {
  color: #0B0;
}

#flash_alert {
  color: #D00;
}

.field {
  margin: 10px 0;
}

.special_email_field {
  display: none;
}

label {
  display: block;
}

/*** EPISODES ***/

.episodes h2 .remove {
  font-size: 14px;
  font-weight: normal;
}

.episode {
  padding-bottom: 18px;
  margin-bottom: 20px;
  padding-left: 10px;
  border-left: solid 5px #E5E5E5;
}

.screenshot {
  float: right;
}

.screenshot img {
  border: solid 3px #E5E5E5;
  margin-left: 10px;
  display: block;
}

.main {
  margin-left: 5px;
}

.info {
  color: #999;
  font-size: 12px;
}

.number {
  text-transform: uppercase;
  font-weight: bold;
}

 h2, .episode h2 a {
  color: $railscasts_shownotes_link_blue;
}

 h2 {
  margin: 3px 0;
}

.description {
  margin-bottom: 17px;
}

.stats {
  font-size: 11px;
  color: #777;
  font-weight: normal;
  padding-left: 5px;
}

.stats a {
  color: #777;
}

.watch_button {
  font-size: 13px;
  padding: 5px 10px 6px 10px;
  font-weight: bold;
  border: 1px solid #466A98;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #FFF;
  background: #386FB2;
  background: -webkit-gradient(linear, left top, left bottom, from(#67B0EF), to(#2B5EA4));
  background: -moz-linear-gradient(top,  #579CEA,  #2B5EA4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#579CEA', endColorstr='#2B5EA4');
  text-decoration: none;
  text-shadow: 0 -1px 0 #036;
}

.notes {
  font-size: 11px;
  margin-top: 10px;
}



.list {
  border-collapse: collapse;
  width: 100%;
}

.list td, .list th {
  border-bottom: solid 1px #CCC;
}

.list td {
  padding: 5px;
}

.list th {
  padding: 5px;
  text-align: left;
  color: #777;
}

.list .comment_count {
  color: #000;
}


.episodes .grid {
  margin-right: -30px;
}

.grid .episode {
  float: left;
  margin-right: 20px;
  margin-bottom: 50px;
  position: relative;
}

.grid .name {
  font-size: 13px;
  position: absolute;
  top: 135px;
  left: 0;
}

/*** FILTERS ***/

.episodes .filters {
  margin-bottom: 15px;
}

.episodes .filter {
  border: solid 1px #999;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #DDD;
  padding: 2px 8px;
  margin-bottom: 10px;
  font-size: 12px;
}

.episodes .filter a {
  padding-left: 5px;
}


/*** PAGINATION ***/

.pagination {
  margin: 8px 0;
  font-size: 12px;
}

.pagination .disabled {
  color: #999;
}

.pagination em {
  font-style: normal;
}

.pagination a, .pagination em, .pagination .previous_page, .pagination .next_page {
  padding: 4px;
}


/*** SIDE ***/

.side {
  position: absolute;
  right: 0;
  top: 0;
}

.side .banner {
  margin-top: 15px;
}

.episode_views {
  padding: 0 20px;
  margin: 0;
  font-weight: normal;
  color: #444;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: solid 1px #BBB;
  background-color: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
  background: -moz-linear-gradient(top,  #EEE, #CCC);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#CCC');
  margin-bottom: 14px;
}

.episode_views .view {
  padding-left: 3px;
}

.episode_views .view img {
  background-color: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#FFF));
  background: -moz-linear-gradient(top,  #EEE, #FFF);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#FFF');
  padding: 7px;
  vertical-align: middle;
  border: solid 1px #BBB;
  border-top: none;
  border-bottom: none;
}

.episode_views .view a img {
  background: none;
  padding: 2px;
  border: none;
}


/*** CATEGORIES ***/

.categories ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #BBB;
  border-top: none;
  padding: 5px 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}

.categories li {
  margin: 5px 0;
  font-size: 14px;
}

.categories h2 {
  padding: 4px 20px;
  margin: 0;
  font-weight: normal;
  color: #444;
  font-size: 14px;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border: solid 1px #BBB;
  border-bottom-color: #AAA;
  background-color: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
  background: -moz-linear-gradient(top,  #EEE, #CCC);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#CCC');
}



/*** EPISODE ***/

#episode #video_wrapper {
  border: solid 1px #777;
}

#episode video {
  display: block;
}

#episode > .info {
  position: relative;
  margin-top: 14px;
  margin-bottom: 15px;
  background-color: #FFF;
}

#episode .info .screenshot {
  float: left;
  padding-right: 14px;
}

#episode .info h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin-bottom: 3px;
}

#episode .info h1 .position {
  color: #999;
}

#episode .info .details {
  color: #777;
  font-size: 12px;
}

#episode .info .watch {
  padding-bottom: 8px;
}

#episode .info .watch_button {
  font-size: 13px;
  padding: 5px 10px 6px 10px;
  font-weight: bold;
  border: 1px solid #466A98;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #FFF;
  background: #386FB2;
  background: -webkit-gradient(linear, left top, left bottom, from(#67B0EF), to(#2B5EA4));
  background: -moz-linear-gradient(top,  #579CEA,  #2B5EA4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#579CEA', endColorstr='#2B5EA4');
  text-decoration: none;
  text-shadow: 0 -1px 0 #036;
}

#episode .info .details a {
  color: #777;
}

#episode .info .description {
  margin-top: 6px;
  margin-bottom: 18px;
  margin-right: 140px;
}

#episode.legacy .info .description {
  margin-right: 0;
}

#episode .info .social {
  position: absolute;
  right: -14px;
  bottom: 18px;
}

#episode .info .downloads {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 13px;
}

#episode .info .downloads li {
  margin-left: 8px;
}

#episode .video_info .screenshot, #episode .video_info .description, #episode .video_info .watch {
  display: none;
}

/*#top .subscribe {
  position: absolute;
  bottom: 10px;
  right: 100px;
}

#top .subscribe li {
  position: relative;
  margin-left: 8px;
  font-size: 12px;
}
*/

#episode .nav {
  padding: 0 8px;
  margin: 0;
  height: 35px;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border: solid 1px #BBB;
  border-bottom-color: #AAA;
  background-color: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
  background: -moz-linear-gradient(top,  #EEE, #CCC);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#CCCCCC');
}

#episode .nav li {
  margin: 0 6px;
  margin-top: 9px;
}

#episode .nav li a {
  color: #393939;
  padding: 5px 8px;
  padding-bottom: 10px;
}

#episode .nav li a.selected {
  border: solid 1px #CCC;
  border-bottom: none;
  background-color: #F5F5F5;
  color: #555;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  cursor: default;
}

#episode .nav li a.selected:hover {
  text-decoration: none;
}

#episode .nav .previous, #episode .nav .next {
  float: right;
}

#episode .nav_section {
  background-color: #F5F5F5;
  border: solid 1px #BBB;
  border-top: none;
  padding: 10px 20px;
  position: relative;
}

#episode .nav_section .progress {
  z-index: 100;
  position: absolute;
  top: 40px;
  left: 400px;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.70);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  padding: 50px;
}

#episode.legacy .nav_section .progress {
  left: 320px;
}

#episode .show_notes ul {
  margin-top: -10px; /* quick hack to move resources list under headline */
  padding-top: 0;
  margin-bottom: 20px;
}

#episode .similar {
  margin-top: 15px;
}

#episode .similar .episode:last-child {
  border-bottom: none;
}


/*** COMMENTS ***/

#comments {
  margin-top: 10px;
}

.comment {
  margin: 20px 0;
}

.comment .avatar {
  float: left;
  border: solid 1px #CCC;
  color: #FFF;
  padding: 4px;
}

.comment .avatar img {
  display: block;
}

.comment .main {
  margin-left: 83px;
}

.nested_comments {
  margin-left: 83px;
}

.nested_comments .nested_comments .nested_comments .nested_comments {
  margin-left: 0;
}

.comment .headline {
  padding: 5px 14px;
  font-size: 12px;
  background-color: #DDD;
  border: solid 1px #BBB;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
  background: -moz-linear-gradient(top,  #EEE, #CCC);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#CCCCCC');
}

.comment .position, .comment .name {
  font-weight: bold;
}

.comment .created_at {
  color: #666;
  padding-left: 8px;
}

.comment_content {
  padding: 1px 15px;
  background-color: #FFF;
  border: solid 1px #CCC;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}

.comment .actions {
  margin-bottom: 12px;
}

.comment blockquote {
  margin: 0;
  padding-left: 10px;
  border-left: solid 5px #CCC;
  color: #777;
}

.comment .hidden .avatar {
  padding: 2px;
}

.comment .hidden .main {
  margin-left: 34px;
  padding: 7px 10px;
  background-color: #EEE;
  border: solid 1px #CCC;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-size: 12px;
  color: #777;
  position: relative;
}

.comment .hidden .name a {
  color: #777;
}

.comment .hidden .main .actions {
  position: absolute;
  right: 5px;
  top: 0;
  display: none;
}

.comment .hidden .main:hover .actions {
  display: block;
}



#add_comment {
  margin-top: 30px;
}

.formatting {
  font-size: 12px;
  margin: 8px 0;
}

.markdown_examples {
  margin-top: 5px;
}

.markdown_examples table {
  border-collapse: collapse;
}

.markdown_examples table td {
  border: solid 1px #CCC;
  padding: 2px 10px;
}

.markdown_examples .code_block {
  width: 200px;
}


/*** CODE BLOCKS ***/

.code_block {
  margin: 12px 0;
}

.code_header {
  position: relative;
  background-color: #E0E0E0;
  font-size: 12px;
  padding: 4px 7px;
  border: solid 1px #B6B6B6;
  border-bottom: none;
}

.code_header .clippy {
  position: absolute;
  top: 4px;
  right: 7px;
}

.clippy_label {
  position: absolute;
  right: 20px;
  top: 1px;
  text-align: right;
  width: 200px;
  font-size: 10px;
  color: #555;
}

.CodeRay {
  overflow: auto;
  border: 1px solid #777;
  border-top: none;
  padding: 5px 7px;
  font-size: 13px;
  margin: 0;
  line-height: 17px;
}

code {
  border: solid 1px #CCC;
  background-color: #EEE;
  font-family: 'Menlo', 'Courier New', 'Terminal', monospace;
  padding: 0 3px;
}

pre code {
  display: block;
  background-color: #EEE;
  padding: 5px 7px;
}



/*** ABOUT ***/

#about {
  margin-right: 300px;
}

#about .ryan {
  float: right;
  padding: 7px;
  margin-left: 50px;
  border: solid 1px #CCC;
  text-align: center;
  font-weight: bold;
}

#about .ryan img {
  display: block;
  padding-bottom: 5px;
}

#about h2 {
  margin-top: 25px;
  margin-bottom: 8px;
}

#about p {
  margin: 8px 0;
}



/*** LOGIN ***/

#login {
  margin-right: 300px;
}
