$railscasts_shownotes_link_blue: #1B97F2;
$main_width: 960px;
$peter-gray: #ececec;
@mixin github-fileheader {
  background:#ececec;
  background:-moz-linear-gradient(#ececec, darken($peter-gray, 20%));
  background:-webkit-linear-gradient(#ececec, darken($peter-gray, 20%));
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec',endColorstr='darken($peter-gray, 20%)')";
}
@mixin github-hero {
  background:#839ba9;
  background:-moz-linear-gradient(#839ba9,#405a6a);
  background:-webkit-linear-gradient(#839ba9,#405a6a);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#839ba9',endColorstr='#405a6a')";
}
@mixin peter-shadow {
  -webkit-box-shadow: 0 0 6px $peter-gray;
  -moz-box-shadow: 0 0 6px $peter-gray;
  box-shadow: 0 0 6px $peter-gray;
}
@mixin no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin textarea-style {
  display: inline-block;
  padding: 5px;
  border: 1px solid darken($peter-gray, 20%);
  font-size: 120%;
  @include rounded-corners(3px);
  @include no-shadow;
  &:focus
  {
    border: 1px solid darken($peter-gray, 50%) ;
    @include peter-shadow;
  }
}
body {
  background-color: #FFF;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin: 0;
}

#container {
	text-align:left;
    margin:0 auto;
    width:$main_width;
    padding: 10px;
}

.categories {
  border: solid 0.5px darken($peter-gray, 10%);
  @include peter-shadow;
}

.categories_title {
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 120%;
  @include github-hero;
}
.category {
  border-bottom: solid 0.5px darken($peter-gray, 10%);
  font-weight: bold;
  padding: 10px;
}

a {
  color: #1B97F2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a img {
  border: none;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

.clear {
  clear: both;
}

ul {
  margin: 4px 0;
  padding-left: 17px;
}

ul.horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.horizontal li {
  margin: 0;
  padding: 0;
  float: left;
}

/*** EPISODES ***/
.episode {
  margin-bottom: 30px;
  .episode_snapshot {
    float: left;
    border: solid 1px #BBB;
  }
  .episode_intro {
    padding-left: 210px;
    .episode_intro_title {
      color: darken($peter-gray, 50%);
      font-size: 80%;
      margin-bottom: -5px;
    }
  }
  .episode_watch_btn {
    padding-left: 210px;
    margin: 5px;
  }
}
/*** PAGINATION ***/

.pagination {
  margin: 8px 0;
  font-size: 12px;
}

.pagination .disabled {
  color: #999;
}

.pagination em {
  font-style: normal;
}

.pagination a, .pagination em, .pagination .previous_page, .pagination .next_page {
  padding: 4px;
}


/*** SIDE ***/

.side {
  position: absolute;
  right: 0;
  top: 0;
}

.side .banner {
  margin-top: 15px;
}

.episode_views {
  padding: 0 20px;
  margin: 0;
  font-weight: normal;
  color: #444;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: solid 1px #BBB;
  background-color: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
  background: -moz-linear-gradient(top,  #EEE, #CCC);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#CCC');
  margin-bottom: 14px;
}

.episode_views .view {
  padding-left: 3px;
}

.episode_views .view img {
  background-color: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#FFF));
  background: -moz-linear-gradient(top,  #EEE, #FFF);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#FFF');
  padding: 7px;
  vertical-align: middle;
  border: solid 1px #BBB;
  border-top: none;
  border-bottom: none;
}

.episode_views .view a img {
  background: none;
  padding: 2px;
  border: none;
}


/* comment */
div.nice_comment {
  position: relative;
  .error {
    padding-left: 10px;
    color: #800000;
    font-weight: bold;
    padding-bottom: 5px;
    display: none;
  }
  textarea
  {
    width: 930px;
    height: 88px;
    margin-bottom: 9px;
    margin-left:10px;
    margin-right:10px;
    @include textarea-style;
  }
  form {
    background-color: $peter-gray;
    margin-bottom: 9px;
  }
  label {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: bold;
  }
  a.formatting_tips {
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
  }
  #comment_btn {
    float: right;
  }
  margin-bottom: 40px;
}

i.icon-comment {
  color: darken($peter-gray, 30%);
}
i.icon-file {
  color: darken($peter-gray, 30%);
  font-size: 20px;
}
div.comment {
  @include peter-shadow;
  margin-bottom: 15px;
  border: solid 1px darken($peter-gray, 20%);
  &:hover {
    border: solid 1px darken($peter-gray, 40%);
  }
  a {
    text-decoration:none;
    &:hover {
      text-decoration: underline; 
    }
  }
  .comment_head {
    padding: 5px;
    font-weight: bold;
    background-color:  $peter-gray;
    font-size: 80%;
    margin-bottom: 5px;
    .comment_time {
      float: right;
      margin-right: 10px;
    }
  }
  .comment_body {
    position: relative;
    padding: 10px;
    ul.actions {
      position: absolute;
      top: 4px;
      right: 4px;
      list-style: none;
      li {
        display:inline-block; 
        vertical-align:top; 
      } 
    }
  }
}

.edit_comment_form {
  position:relative;
  height: 180px;
  #error {
    color: red;
    font-weight: bold;
    padding-left: 10px;
  }
  .comment_head {
    padding: 5px;
    font-weight: bold;
    background-color:  $peter-gray;
    font-size: 80%;
    margin-bottom: 5px;
    .comment_time {
      float: right;
      margin-right: 10px;
    }
  }
    
  textarea
  {
    width: 930px; 
    height: 88px;
    margin-left:10px;
    margin-right:10px;
    @include textarea-style;
  }
  #comment_btn {
    position: absolute;
    top: 140px;
    right: 10px;
  } 
}


/*** ABOUT ***/

#about {
  margin-right: 300px;
}

#about .ryan {
  float: right;
  padding: 7px;
  margin-left: 50px;
  border: solid 1px #CCC;
  text-align: center;
  font-weight: bold;
}

#about .ryan img {
  display: block;
  padding-bottom: 5px;
}

#about h2 {
  margin-top: 25px;
  margin-bottom: 8px;
}

#about p {
  margin: 8px 0;
}



/*** LOGIN ***/

#login {
  margin-right: 300px;
}

/* shownotes */
.show_notes {
  padding: 20px;
  border: 1px solid ;
  margin-bottom: 20px;
  @include peter-shadow;

}

.code_block {
  .code_header {
    @include github-fileheader;
    padding: 5px;
    border: 1px solid darken($peter-gray, 20%);
  }
  margin-bottom: 20px;
}
