$notification-green: #1abc9c;
$railscasts_shownotes_link_blue: #1B97F2;
$episode-new-margin-left: 10px;
$main_width: 960px;
$github-gray: #ececec;
$github-blue:#839ba9;
$error_red: #800000;
$sky-blue: #3198B6;
