@import "variables";

.shownote {
  height: 100px;
  padding: 35px;
  background: lighten(teal, 8%);
  font-size: 18px;
  min-width: 1100px;
  a {
    line-height: 30px;
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
  .edit-ep-btn {
    margin-left: 10px;
  }
}
.comments {
  padding-top: 40px;
}
