@import "variables";

.shownote {
  height: 100px;
  padding: 35px;
  background: lighten(teal, 8%);
  font-size: 18px;
  a {
    line-height: 30px;
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
  .edit-ep-btn {
    margin-left: 10px;
  }
}
.comments {
  padding-top: 40px;
}

// big_card.css

.show-header {
  height: 200px;
  background: rgba(96, 84, 183, 1);
}
.big-card {
  width: 490px;
  margin: 0 auto;
  line-height: 1.7;
  padding-bottom: 30px;
  text-align: center;
  background: #fff;
  font-size: 13px;
  box-shadow: 0 3px 7px 0 rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.19);
  position: relative;
  top: -60px;
}

.big-card h3.title {
  margin: 0;
  background: rgba(36, 43, 12, 1);
  color: #fff;
  text-align: center;
  padding: 11px;
}
.big-card .play-btn {
  display: block;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
  background-color: #f44336;
  color: rgba(255,255,255,.84);
  padding: 7px 20px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
.big-card .play-btn:hover {
  background-color: #f55549;
}
.big-card img.poster {
  display: block;
  width: 200px;
  height: 125px;
  background: teal;
  margin: 0 auto;
  margin-top: 30px;
}
.big-card .description {
  text-align: center;
  margin: 30px;
}
.big-card-wrapper {
  background: #eee;
  height: 400px;
}
