- title t("about_happycasts"), false

.content#about
  .peter
    = image_tag "peter.jpg", :size => "107x125"
    %a{ :href => "http://github.com/happypeter"}
      happypeter
  %h1 HappyCasts

  大家好，我是
  = link_to "happypeter", "https://github.com/happypeter"
  ( happypeter1983@gmail.com )
  每周的周一我会在 happycasts.net
  上发布一个视频，内容全部围绕 web 开发。基本上服务这样3类人: 

  %h3 Linux 学习者

  我喜欢使用 Linux，不仅作为服务器也作为我的个人工作机。注意 happycasts.net 的 Linux 相关内容是为开发者打造的，论述的角度和深度都以能帮大家提高开发速度为准。

  所以如果你想成为专业的系统管理员，这里的内容可能并不适合你。

  %h3 年轻 web 开发者

  优秀的 web 开发人员应该是前后通吃的，所以这里我们聊服务器，也会聊 CSS 和 JS 技巧。甚至图片，音频，视频，pdf 的处理也有可能会涉及到。我本人专注于教育类网站的开发，只要能提高网站总体质量的技术，我都会关心。如果你在搞电子商务，SNS 等等直接面向 end-user 的 web 产品，那相信你很可能会对 happycasts.net 感兴趣。

  %h3 在校的大学生

  还记得上学的时候，有时因为一个小小的服务器或数据库配置就会被卡上好几周的时间。很多东西其实看书学是很慢的，到最后真的学会了才发现已经浪费了太多的时间。现在我的视频，很多就是献给当年的我，把很多很常用，同时初学者自己又很难自己查资料解决的问题总结成视频。这样初学者就不必为了一个小小的配置，去啃好几百页的手册了。

  另外，更宏观的方面，就是很多在校学生是不知道社会上需要什么样的技术的，所以通过 happycasts.net 大家可以看看哪些东西是真正可以在企业里换钱的。这样学习起来，也好比较有方向。毕业后，知识结构也会比较合理。
