<% title t("about_happycasts"), false %>

<div class="content" id="about">
  <div class="peter">
    <%= image_tag "peter.jpg", :size => "107x125" %>
    <a href="http://github.com/happypeter">
      happypeter
    </a>
  </div>
</div>

大家好，我是

  <%= link_to "happypeter", "https://github.com/happypeter" %>
    ( happypeter1983@gmail.com )

<p>自打 2011 年底，每周的周一（有急事的时候除外）我有会在本站上发布一个视频。视频的内容是咱们在做 web 项目的时候会遇到的一些具体问题，每个视频中我都会努力去查阅所有的资料，争取给出大家一个最佳的答案。对于不太满意的视频，回头等我对这个问题有了更深的认识，我会再做一个改进版。</p>

<p>下面是我个人的背景和兴趣（这个当然很大程度决定了本站的内容取舍）：</p>

<ul>
  <li> 我喜欢用 ubuntu(Linux 的一个版本) 进行开发，同时服务器平台也是 ubuntu。</li>
  <li>我是一个 RubyOnRails 程序员，喜欢自己能够实现一个想法的感觉，所以前端，后端，设计等等技术我都会感兴趣。</li>
</ul>
