<% title "About HappyCasts", false %>

<div class="content" id="about">
  <div class="ryan">
    <%= image_tag "peter.jpg", :size => "107x125" %>
    <a href="http://happypeter.org">Peter Wang</a>
  </div>
  <h1>About HappyCasts</h1>
  <p>HappyCasts is produced by Peter Wang (<%= link_to "happypeter", "http://happypeter.org" %> and <%= link_to "happypeter", "https://github.com/happypeter" %> on GitHub). A new episode will be released each Monday featuring tips and tricks with Linux. The screencasts are short and focus on one technique so you can quickly move on to applying it to your own project. The topics target the intermediate Linux developer, but beginners and experts will get something out of it as well.</p>

  <h2>Software Used</h2>
  <ul>
    <li><a href="http://vim.org/">Vim</a> - the best text editor</li>
    <li><a href="http://stephendeken.net/software/keycastr/">KeyCastr</a> - visual keyboard shortcuts</li>
    <li><a href="http://www.telestream.net/screen-flow/">ScreenFlow</a>- screencasting software for the Mac</li>
  </ul>

  <h2>Contact</h2>
    happypeter1983@gmail.com
  <h2>Special Thanks</h2>
  <p>Special thanks to <%= link_to "RailsCasts", "http://www.railscasts.com/" %> for the inpiration for this site.</p>

  <h2>License</h2>
  <p>All HappyCasts episodes are under the <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/">Creative Commons license</a>. You are free to distribute unedited versions of the episodes for non-commercial purposes. You are also free to translate them into any language. If you would like to edit the video please contact me.</p>
  <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/us/88x31.png" /></a></p>
</div>
