<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>haoduoshipin</title>
  <link rel="stylesheet" href="style/main.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <header>
     <div class="container">
       <a href="/">好多视频网</a>
     </div>
  </header>
  <video controls preload="auto">
   <source src="http://7xnm4l.com1.z0.glb.clouddn.com/{{video}}" type='video/mp4' />
  </video>



  <div class="container"><%= contents %></div>
  <footer>
    <p>
      更多精彩内容请扫描下面的二维码来订阅"好多视频网"公众账号。或者添加 Peter 的微信：happypeter1983
    </p>
    <img src="images/qrcode.jpg" alt="" class="qrcode">
  </footer>
   <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>

