<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>haoduoshipin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="baidu-site-verification" content="7qY7FcclKm" />
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/highlight.css">
  <link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet">
</head>
<body>
<div class="container clearfix">
  <nav>
    <a href="/">首页</a>
  </nav>
    <%= contents %>
  <footer></footer>
</div>
</body>
</html>
