<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>haoduoshipin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="baidu-site-verification" content="7qY7FcclKm" />
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div class='nav'>
  <a href="/">首页</a>
</div>
<form action="http://localhost:3000/search.html" class='search'>
  <input type='text' name='q' size='20' />
  <button type='submit'>搜索</button>
</form>
<div style='margin-top: 30px'>
  <div class="container clearfix">
    <%= contents %>
  </div>
</div>
<footer></footer>
</body>
</html>
